<header class="bg-sky-950 p-4 text-white">
    <nav class="flex justify-between align-baseline">
        <div class="logo flex cursor-pointer">
            <img src="../../../assets/logo.png" alt="Logo" class="w-8 h-7 mr-2">
            <h1 class="font-bold text-[27px]">Weather</h1>
        </div>
        <ul class="nav-links">
            <li class="border-sky-400 text-sky-400 rounded-xl border-2 px-4 py-2 cursor-pointer">
                <a class="font-bold text-[20px]">Home</a>
            </li> 
        </ul>
        
    </nav>
</header>